# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json

os:
  editPreset: "nvim"
git:
  pagers:
    - externalDiffCommand: difft --color=always --tab-width=2 --display=side-by-side
